html, body {
    background-color: #0d6efd; /* لون أساسي سريع التحميل */
}


/* 1.تهيئة الصفحة*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 2. توحيد لون الصفحة*/
:root {
    --primary-color: #0d6efd; /* أزرق عصري */
    --secondary-color: #6f42c1; /* بنفسجي هادئ */
    --accent-color: #00e0ff; /* أزرق نيوني */
    --background-gradient: linear-gradient(135deg, #0d6efd, #6f42c1, #00e0ff);
    --text-color: #f5f5f5;
}    

body {
    margin: 0;
    padding: 0;
    background: var(--background-gradient);
    background-size: 300% 300%;
    animation: gradientAnimation 12s ease-in-out infinite;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* حركة التدرج */
@keyframes gradientAnimation {
    0% {background-position: 0% 50%; }
    25% {background-position: 50% 100%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 0%; }
    100% { background-position: 0% 50%; }
}






